<%= form_for(@line_badge) do |f| %>
  <% if @line_badge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_badge.errors.count, "error") %> prohibited this line_badge from being saved:</h2>

      <ul>
      <% @line_badge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :badge_id %><br>
    <%= f.text_field :badge_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :earner_email %><br>
    <%= f.text_field :earner_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
