
<br>
<div class="container fundoboneco">
<br>
<div class="row">
  <div role="main" class="col-md-3 thumbnail col-char col-inventario">
  <h3>Inventario: </h3>
    <%if @characters.size >= 1%>
    <% @characters.each do |character| %>
    <h2><%= character.name %></h2>
    <hr style="border: 2px solid rgba(255, 255, 255, 0.44)">

  

      
  <%= link_to image_tag("bag.png", :border => 0, :class => 'list_image'), inventories_url %>
  <hr style="border: 1px solid rgba(255, 255, 255, 0.44)">
    <%= link_to 'Deletar', character, method: :delete, data: { confirm: 'Cuidado, tem certeza que quer deletar seu personagem?' }, class: "btn btn-danger pull-right" %>
  </div>
  <div class="col-md-1 col-char">
    
  </div>
  
  <aside role="complementary" class="col-md-8 col-char" >
  <h2 class="text-center" style="margin-right: 253px;">Seu Personagem</h2>

  <div id="canvasDiv" style="padding-top:109px;"></div>
    <script type="text/javascript">
    prepareCanvas(document.getElementById("canvasDiv"), 490, 220, "<%= @character.helmet%>", "<%= @character.armor%>", "<%= @character.shield%>", "<%= @character.weapon%>");
    change('hair', "<%= character.hair %>");
    change('torso', "<%= character.shirt %>");
    change('legs', "<%= character.pants %>");
    if("<%= character.skin %>" != "default"){
    change('head', "head_" + "<%= character.skin %>");
    change('leftArm', "leftArm_" + "<%= character.skin %>");
    change('rightArm', "rightArm_" + "<%= character.skin %>");
    }
    </script>
    
    <br><br>
    <% end %>
    <% else %>
    <h2>Voce ainda não tem um personagem</h2>
    <%= link_to 'New Character', new_character_path %>
    <% end %>
    </aside>
</div>



</div>